<script src="~/js/createprop.js"></script>
<link href="~/css/createcat.css" rel="stylesheet" />
<div class='box'>
    <div class='box-form'>
        <div class='box-login-tab'></div>
        <div class='box-login'>
            <form method="" class="sign-in-form">
                <div class="text-danger"></div>
                <div class='fieldset-body' id='login_form'>
                    <p class='field'>
                        <label for='pass'>Category Name</label>
                        <input type='text' />
                        <span class="text-danger"></span>
                    </p>
                    <input type='submit' id='do_login' value='Create' title='Get Started' />
                </div>
            </form>

        </div>
    </div>

</div>