<link href="~/css/modifyproprio.css" rel="stylesheet" />
<script src="~/js/modifyproprio.js"></script>
<form>
	<input name="name" type="text" class="feedback-input" placeholder="Barcode of the Product" />
	<a href="#" type="submit" value="Search" onclick="loadContentProduct('ModifyProductForm')" class="search">Search</a>
</form>