
<link href="~/css/deleteproprio.css" rel="stylesheet" />
<main>
    <div class="blur"></div>
    <div class="container">
        <form asp-action="" method="">
            <img src="~/img/supprimer.png" class="photo" />
            <br>
            <input class="datos" type="text" placeholder="Name of the category">
            <br>
            <br>
            <input class="boton reset" type="submit" value="Delete">
        </form>
    </div>
</main>


